<div class="modal-content" data-test-modal="delete-webhook">
    <header class="modal-header">
        <h1>{{t "Manual.Settings.Are_you_sure?"}}</h1>
    </header>
    <button type="button" class="close" title="Close" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">{{t "Manual.Settings.Close"}}</span></button>

    <div class="modal-body">
        <p>
            {{t "Manual.Components.Deleting_this_webhook_may_prevent_the_integration_from_functioning"}}
        </p>
    </div>

    <div class="modal-footer">
        <button class="gh-btn" type="button" {{on "click" @close}}><span>{{t "Manual.Components.Cancel"}}</span></button>
        <GhTaskButton @buttonText="Delete Webhook" @successText={{t "Manual.Components.Deleted"}} @task={{this.deleteWebhookTask}} @class="gh-btn gh-btn-red gh-btn-icon" />
    </div>
</div>