<div class="modal-content" data-test-modal="delete-integration">
    <header class="modal-header">
        <h1>{{t "Manual.Settings.Are_you_sure?"}}</h1>
    </header>
    <button type="button" class="close" title="Close" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">{{t "Manual.Settings.Close"}}</span></button>
    <div class="modal-body">
        <p>
            {{t "Manual.Components.Deleting_this_integration_will_remove_all_webhooks_and_api_keys_associated_with_it"}}
        </p>
    </div>
    <div class="modal-footer">
        <button class="gh-btn" type="button" {{on "click" @close}}><span>{{t "Manual.Components.Cancel"}}</span></button>
        <GhTaskButton
            @buttonText={{t "Manual.Integrations.Delete_integration"}}
            @successText={{t "Manual.Components.Deleted"}}
            @task={{this.deleteIntegrationTask}}
            @class="gh-btn gh-btn-red gh-btn-icon"
            data-test-button="confirm" />
    </div>
</div>