<div class="modal-content" data-test-modal="delete-member">
    <header class="modal-header">
        <h1>{{t "Manual.Members.Delete_member_account"}}</h1>
    </header>
    <button type="button" class="close" title="Close" {{on "click" (fn @close false)}}>{{svg-jar "close"}}<span class="hidden">{{t "Manual.Members.Close"}}</span></button>

    <div class="modal-body">
        <p class="mb6">
            {{t "Manual.Members.Delete_member_account"}} <strong>{{@data.member.email}}</strong> {{t "Manual.Members.from_Ghost."}}
        </p>

        {{#if this.hasActiveStripeSubscriptions}}
            <div class="flex justify-between">
                <div class="form-group for-checkbox gh-member-cancelstripe-checkbox">
                    <label class="checkbox">
                        <input
                            class="gh-input"
                            type="checkbox"
                            checked={{this.shouldCancelSubscriptions}}
                            {{on "click" (toggle "toggleShouldCancelSubscriptions" this)}}
                        />
                        <span class="input-toggle-component"></span>
                        <div>
                            <h4>Also cancel subscription in Stripe</h4>
                            <p>If disabled, the member’s premium subscription will continue</p>
                        </div>
                    </label>
                </div>
            </div>
        {{/if}}
    </div>

    <div class="modal-footer">
        <button class="gh-btn" type="button" {{on "click" (fn @close false)}}><span>{{t "Manual.Components.Cancel"}}</span></button>
        <GhTaskButton @buttonText={{if this.shouldCancelSubscriptions (t "Manual.Members.Delete_member_+_Cancel_subscription") (t "Manual.Members.Delete_member")}} @successText="Deleted" @task={{this.deleteMemberTask}} @class="gh-btn gh-btn-red gh-btn-icon" />
    </div>
</div>