<div class="modal-content">
    <header class="modal-header">
        <h1>{{t "Manual.Components.Are_you_sure_you_want_to_suspend_this_user"}}</h1>
    </header>
    <button type="button" class="close" title="Close" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">{{t "Manual.Settings.Close"}}</span></button>

    <div class="modal-body">
        <strong>{{t "Manual.Components.WARNING:"}}</strong> {{t "Manual.Components.This_user_will_no_longer_be_able_to_log_in_but_their_posts_will_be_kept"}}
    </div>

    <div class="modal-footer">
        <button class="gh-btn" type="button" {{on "click" @close}}><span>{{t "Manual.Components.Cancel"}}</span></button>
        <GhTaskButton
            @buttonText={{t "Manual.Staff.Suspend"}}
            @successText={{t "Manual.Staff.Suspended"}}
            @task={{this.suspendUserTask}}
            @class="gh-btn gh-btn-red gh-btn-icon"
            data-test-modal-confirm="true"
        />
    </div>
</div>