{{#if this.hostLimitError}}
    <div class="modal-content" data-test-modal="upgrade-unsuspend-user-host-limit">
        <header class="modal-header">
            <h1>{{t "Manual.Components.Upgrade_to_un-suspend_this_user"}}</h1>
        </header>
        <button class="close" title="Close" type="button" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">{{t "Manual.Settings.Close"}}</span></button>

        <div class="modal-body">
            <p>
                {{html-safe this.hostLimitError}} {{t "Manual.Components.To_give_this_user_access_to_Ghost,_upgrade_to_a_different_plan"}}
            </p>
        </div>

        <div class="modal-footer">
            <button class="gh-btn" data-test-button="cancel-upgrade" type="button" {{on "click" @close}}>
                <span>{{t "Manual.Components.Cancel"}}</span>
            </button>

            <button class="gh-btn gh-btn-green" data-test-button="upgrade-plan" type="button" {{on "click" this.upgrade}}>
                <span>{{t "Manual.Components.Upgrade_my_plan"}}</span>
            </button>
        </div>
    </div>
{{else}}
    <div class="modal-content" data-test-modal="unsuspend-user">
        <header class="modal-header">
            <h1>{{t "Manual.Components.Are_you_sure_you_want_to_un-suspend_this_user"}}</h1>
        </header>
        <button type="button" class="close" title="Close" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">{{t "Manual.Settings.Close"}}</span></button>

        <div class="modal-body">
            <strong>{{t "Manual.Components.WARNING:"}}</strong> {{t "Manual.Components.This_user_will_be_able_to_log_in_again_and_will_have_the_same_permissions_they_had_previously"}}
        </div>

        <div class="modal-footer">
            <button class="gh-btn" type="button" {{on "click" @close}}><span>{{t "Manual.Components.Cancel"}}</span></button>
            <GhTaskButton
                @buttonText={{t "Manual.Staff.Un-suspend"}}
                @successText={{t "Manual.Staff.Suspended"}}
                @task={{this.unsuspendUserTask}}
                @class="gh-btn gh-btn-red gh-btn-icon"
                data-test-modal-confirm="true"
            />
        </div>
    </div>
{{/if}}