<section class="gh-canvas">
    <GhCanvasHeader class="gh-canvas-header">
        <div class="flex flex-column">
            <div class="gh-canvas-breadcrumb">
                <LinkTo @route="settings">
                    {{t "Manual.Settings.Settings"}}
                </LinkTo>
                {{svg-jar "arrow-right-small"}} {{t "Manual.Settings.Code_injection"}}
            </div>
            <h2 class="gh-canvas-title" data-test-screen-title>
                {{t "Manual.Settings.Code_injection"}}
            </h2>
        </div>
        <section class="view-actions">
            <GhTaskButton 
                @buttonText={{t "Manual.Components.Save"}}
                @successText={{t "Manual.Components.Saved"}}
                @runningText={{t "Manual.Components.Saving"}}
                @task={{this.saveTask}} @class="gh-btn gh-btn-primary gh-btn-icon" data-test-save-button={{true}} />
        </section>
    </GhCanvasHeader>

    <section class="gh-content">
        <GhLoadingSpinner />
    </section>
</section>
