<div class="modal-content" {{on-key "Enter" (perform this.deleteTagTask)}} data-test-modal="confirm-delete-tag">
    <header class="modal-header">
        <h1>{{t "Manual.Tags.Are_you_sure_you_want_to_delete_this_tag?"}}</h1>
    </header>
    <button type="button" class="close"title="Close" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">{{t "Manual.Components.Close"}}</span></button>

    <div class="modal-body">
        {{#if @data.tag.count.posts}}
            <span class="red">{{t "Manual.Tags.This_tag_is_attached_to"}}<span data-test-text="posts-count">{{concat @data.tag.count.posts " " (t (concat "Manual.Components." (gh-pluralize @data.tag.count.posts "post" without-count=true)))}}</span>.</span>
        {{/if}}
        {{t "Manual.Tags.You're_about_to_delete"}}"<strong>{{@data.tag.name}}</strong>"{{t "Manual.Tags.._This_is_permanent!_We_warned_you,_k?"}}
    </div>

    <div class="modal-footer">
        <button class="gh-btn" type="button" {{on "click" @close}} data-test-button="cancel"><span>{{t "Manual.Tags.Cancel"}}</span></button>
        <GhTaskButton @buttonText={{t "Manual.Tags.Delete"}} @successText={{t "Manual.Tags.Deleted"}} @task={{this.deleteTagTask}} @class="gh-btn gh-btn-red gh-btn-icon" data-test-button="confirm" />
    </div>
</div>