<section class="gh-dashboard-section gh-dashboard-attribution">
    <article class="gh-dashboard-box" {{did-insert this.loadData}}>
        {{#if (is-empty this.sources)}}
            <h3 class="gh-dashboard-metric-label">{{t "Manual.Dashboard.Top_sources"}}</h3>
            <div class="attribution-list-empty">
                {{svg-jar "members-outline"}}
                <h4>{{{t "Manual.Dashboard.No_new_members_in_the_past_days" chartPeriod="{{this.chartPeriod}}" }}}</h4>
                <p>{{t "Manual.Dashboard.Once_someone_signs_up,_you’ll_be_able_to_see_where_they_came_from_here."}}</p>
            </div>
        {{else}}
        <div class="gh-dashboard-attribution-grid">
            <div>
                <h3 class="gh-dashboard-metric-label">{{t "Manual.Dashboard.Top_sources"}}</h3>
                <MemberAttribution::SourceAttributionTable
                    @sources={{this.sources}}
                    @sortColumn={{this.selectedSortColumn}}
                    @setSortColumn={{this.setSortColumn}}
                    class="gh-dashboard-attribution-list gh-dashboard-list"
                />
            </div>
            <div class="gh-dashboard-attribution-chart">
                <div class="gh-dashboard-attribution-chart-container">
                    <MemberAttribution::SourceAttributionChart
                        @sources={{this.chartSources}}
                        @sortColumn={{this.selectedSortColumn}}
                    />
                    <span class="gh-dashboard-attribution-chart-label">{{if (eq this.selectedSortColumn "signups") "Free" "Paid"}}</span>
                </div>
                <div id="gh-dashboard-attribution-tooltip" class="gh-dashboard-tooltip">
                    <div class="gh-dashboard-tooltip-value">
                        -
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
    </article>
</section>
